# Keywords in python

In [28]:
import keyword

print(keyword.kwlist)
print ("\n keyword list length is ", len(keyword.kwlist)," hai")

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

 keyword list length is  33  hai

# Identifiers in python 

Basic Rules:
    -> alphanumeric with small and capital and _(not other specail characters)
    -> Should not start with digit
    -> Dont use keywords

In [20]:
abc=1
#1_12=1

# Comments in Python

#Single Line 
""" """ multiple  line

In [18]:
#print("hai")
"""
hai this is krishna
and printed across multiple lines
"""

'\nhai this is krishna\nand printed across multiple lines\n'

# Indentation

Always use four spaces

In [27]:
for i in range(10):
    print(i)
print ('called')

0
1
2
3
4
5
6
7
8
9
called

In [30]:
if True:
    print('hai')

hai

# Multiline statement

Use \ or ()

In [36]:
a= 10 + 20 + 30 \
   +40 + 50 + 50
print(a)

a= (10 + 20 + 30 
   +40 + 50 + 50)
print(a)

200
200

In [37]:
# Multiple statements in single line
a=10;b=20;c=30

# Variables

In [43]:
#Multiple assignment in single line 

a,b,c=20,5.5,"ML" 

print(id(a)) # gives the memory location

2009865456

# DataTypes

In [17]:
a=3
b=3
print (id(a),id(b)) #this way they both point to same location and will save memory
b=2
print (id(a),id(b))

print(type(a))

complex=1+2j;

print (type(complex))

498867168 498867168
498867168 498867152
<class 'int'>
<class 'complex'>
haai this is kri
        is in second line i love it

In [19]:
#prints in multilines

str="""haai this is kri 
        is in second line i love it""" 

print(str)

haai this is kri
        is in second line i love it

In [2]:
a="hai this is string" #always start index with 0 and -1 with last char of string

print(a[0])
print(a[-1])

#slicing
print(a[5:])

h
g
his is string

# Lists

They are mutable(means which can be changed)
Created by []

In [11]:
a=[10,'Apples',100]
print(a)

len(a)

a[0]=20

print(a)

[10, 'Apples', 100]
[20, 'Apples', 100]

# Tuple

.They are immutable(means which cant be changed) 
.Created by ()

In [20]:
tupe=(1,2,4)

print(tupe)

print(tupe[0])

(1, 2, 4)
1

# Set

Declared by {}

Unordered List unlike Lists

In [31]:
sett={10,20,30}
print(sett)

{10, 20, 30}

# Dictionary

Key Value Pair

In [18]:
dict={'name':'krishna','age':20}

print(dict)

print(dict['name'])

{'name': 'krishna', 'age': 20}
krishna

# Data Conversion

In [21]:
float(5)

'5'

In [24]:
int(5.1)

5

In [22]:
str(5)

'5'

In [32]:
a='hai'
lis=list(a)
print(lis)

lis=['1',2]

se=set(lis)

print(se)

['h', 'a', 'i']

TypeError: 'set' object is not callable